* {
    padding: 0;
    margin: 0;
}

body {
    color: hsl(252, 3%, 37%);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* Sidebar */

label[for="toggle"] {
    position: fixed;
    top: 25px; 
    left: 25px;
    color: #7395ae;
    font-size: 2rem;
    z-index: 5;
    display: none;
}

.navsmall {
    display: none;
}

#toggle {
    display: none;
}

#navbar {
    width: 400px;
    min-width: 200px;
    height: 100%;
    position: fixed;
    background-color: rgba(170, 170, 170, 0.4);
    color: white;
}

header {
    color: #7395ae;
    font-weight: 300;
    font-size: 2em;
    margin: 15px;
}

#navbar ul {
    height: 80%;
    overflow-y: auto;
    margin-left: 5px;
}

#navbar li {
    color: grey;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    list-style: none;
}

#navbar a, #navbar a:visited {
    color: #5d5c61;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
}

#navbar a:hover, #navbar a:focus {
    text-decoration: underline;
}

/*Responsive rules for sidebar */
@media screen and (max-width: 800px){
    #navbar {
        display: none;
    }
    label[for="toggle"] {
        display: block;
        background-color: rgba(224, 224, 224, 0.8);
    }
    .navsmall {
        display: block;
        background: rgb(224, 224, 224);
        width: 200px;
        height: 100vh;
        top: -100vh;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        position: fixed;
        z-index: 4;
    }

    .navsmall ul {
        display: block;
        list-style: none;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    .navsmall li {
        color: grey;
        padding: 10px;
        font-family: 'Dosis', sans-serif;
        list-style: none;
    }
    
    .navsmall a, .navsmall a:visited {
        color: #5d5c61;
        font-size: 1em;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    .navsmall a:hover, .navsmall a:focus {
        text-decoration: underline;
    }
    

    #toggle:checked ~ .navsmall {
        top: 0vh;
    }
    
    nav header {
        margin-top: 80px;
    }
}

/* Main section */
#main-doc {
    margin-left: 410px;
    padding: 15px;
}

#main-doc header {
    margin-left: 0;
}

section article {
    margin: 40px 15px;
    line-height: 2;
}

code{
    display:block;
      text-align: left;
    white-space: pre;
    position: relative;
      word-break: normal;
      word-wrap: normal;
      line-height: 2;
      background-color:#f7f7f7;
    padding:15px;
    margin:10px;
    border-radius:5px;
}

li {
    margin-left: 30px;
}

a, a:visited {
    color: #7395a3;
}

a:hover {
    color: #557a95;
}

/*Responsive rules for main content */
@media screen and (max-width: 800px){
    #main-doc {
        margin-left: 0;
        margin-top: 80px;
        box-sizing: border-box;
    }
}